network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: true
      # Оставляем маршрут по умолчанию от DHCP (он нужен для выхода в интернет)
    eth1:
      addresses:
        - 192.168.255.1/30
      routes:
        # Суммарный маршрут до всех внутренних сетей (central, office1, office2)
        - to: 192.168.0.0/22
          via: 192.168.255.2
        # Альтернативно можно перечислить все подсети отдельно:
        # - to: 192.168.0.0/24
        #   via: 192.168.255.2
        # - to: 192.168.1.0/24
        #   via: 192.168.255.2
        # - to: 192.168.2.0/24
        #   via: 192.168.255.2
    eth8:
      addresses:
        - 192.168.50.10/24